name: EAS Build

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master

env:
  PNPM_VERSION: 9.15.4
  URL: ${{ secrets.URL }}
  PROJECT_ID: ${{ secrets.PROJECT_ID }}
  API_TOKEN: ${{ secrets.API_TOKEN }}
  CI: true

jobs:
  build:
    name: Install and build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20.18.x

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          #version: ${{ env.PNPM_VERSION }}
          run_install: true

      # Set up Java & Android SDK
      - name: Set up JDK 17 (required for RN 0.75+)
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Setup Expo and EAS
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}
          packager: pnpm
          patch-watchers: false
          expo-version: latest
  
    
      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      # ❗️ Free up system space
      - name: Cleanup system to free disk space
        run: |
          docker system prune -af || true
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          df -h

      - name: Fix Hermes executable permissions
        run: chmod +x node_modules/react-native/sdks/hermesc/linux64-bin/hermesc

      - name: Clean & regenerate native project
        run: npx expo prebuild --clean

      #- name: Build on EAS (Android)
      #  run: eas build --platform android --profile development --non-interactive --no-wait --clear-cache

      #- name: Build apk
      #  run: npx expo run:android --variant release

      - name: Pre-bundle JS
        run: npx expo export --experimental-bundle --platform android

      - name: Build Release APK
        working-directory: android
        run: |
          ./gradlew assembleRelease

      - name: Upload Release APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release-apk
          path: android/app/build/outputs/apk/release/app-release.apk
          if-no-files-found: ignore

    #  - name: Upload build artifacts
    #    uses: actions/upload-artifact@v4
    #    with:
    #      name: expo-dev-client
    #      path: dist/**
    #      if-no-files-found: ignore
